@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif;  */
    font-family: 'Roboto', sans-serif;
    font-size  : 16px;
    line-height: 1.6em;
    font-weight: normal;
    color      : #0f141e;
    background : #f1f1f1;
}

a {
    color          : #111;
    text-decoration: none;
}

a:active {
    color: blue;
}

a:hover {
    color          : aqua;
    text-decoration: underline;
}

a:visited {
    color: gray;
}


.container {
    max-width  : 750px;
    margin     : auto;
    padding-top: 30px;
}

.avatar {
    width        : 150px;
    border-radius: 10px;
    box-shadow   : 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.info {
    margin-bottom: 20px;
}

.info-text p {
    font-style : italic;
    font-weight: bold;
    color      : #86898f;
    margin     : 0;
}

.info-text h4 {
    margin-bottom: 10px;
}

.card {
    border-radius: 20px;
    padding      : 15px 20px;
    margin-bottom: 20px;
}

.card h2 {
    margin-bottom: 10px;
}

.bg-yellow {
    background: #fff9dc
}

.bg-red {
    background: #ffe5e5
}

.bg-green {
    background: #e5ffe7
}

.btn {
    background : #111;
    padding    : 15px 20px;
    color      : #fff;
    border     : none;
    font-family: inherit;
    cursor     : pointer;
}

.btn:hover {
    opacity      : .8;
    border-radius: 5px;
}

.list {
    margin : 0;
    padding: 0 20px;
}

.list li {
    color: #86898f;
    margin-bottom: 10px;
    border-bottom: 1px dotted gray;
}
.list-teach{
    list-style: none;
    padding: 0;
}
.list-teach li{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.table {
    width: 100%;
}

.table th,
td {
    text-align: left;
    padding-bottom: 10px;
}
.table td:nth-child(2),
.table td:nth-child(3)
{
    color: #86898f;
}